fastapi
uvicorn
uvloop
pydantic
pandas
pytest
pytest-cov
pytest-xdist
requests
tenacity
httpx
requests-mock
kafka-python
jsonschema
dagster
prometheus-client
psutil
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-flask
opentelemetry-exporter-jaeger
apscheduler
pgvector
watchtower
watchdog
Flask
pydantic-settings
psycopg2-binary
UnleashClient
launchdarkly-server-sdk
sentry-sdk
Deprecated
typer
