fastapi
uvicorn
pydantic
pandas
pytest
pytest-cov
requests
httpx
requests-mock
kafka-python
jsonschema
dagster
prometheus-client
psutil
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-flask
opentelemetry-exporter-jaeger
apscheduler
pgvector
watchtower
Flask
pydantic-settings
psycopg2-binary
UnleashClient
launchdarkly-server-sdk
sentry-sdk
Deprecated
