fastapi
uvicorn
pydantic
pandas
pytest
pytest-cov
requests
httpx
requests-mock
kafka-python
jsonschema
dagster
prometheus-client
psutil
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-flask
Flask
pydantic-settings
psycopg2-binary
watchtower
opentelemetry-exporter-jaeger
