interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://archive.org/advancedsearch.php?q=subject:%22nostalgia%22&output=json&rows=1
  response:
    body:
      string: '{"responseHeader":{"status":0,"QTime":18,"params":{"query":"subject:&quot;nostalgia&quot;","qin":"subject:&quot;nostalgia&quot;","fields":"_default_","wt":"json","rows":1,"start":0}},"response":{"numFound":14249,"start":0,"docs":[{"btih":"85baf03c97ad269f38f405008284763d147eb2ad","collection":["opensource","community"],"creator":"coljovo","date":"2008-05-09T00:00:00Z","description":"facebook
        continuum","downloads":10,"format":["Archive BitTorrent","HTML","Metadata"],"identifier":"continuum-entertainment-publicacoes-facebook","indexflag":["index","nonoindex","uncurated"],"item_size":716569,"language":"por","mediatype":"texts","month":0,"oai_updatedate":["2021-06-15T13:02:54Z","2021-06-15T13:10:55Z"],"publicdate":"2021-06-15T13:02:54Z","subject":"#nostalgia","title":"Continuum
        Entertainment Publicac\u0327o\u0303es Facebook","week":0,"year":2008}]}}'
    headers:
      content-type:
      - application/json
      onion-location:
      - https://archivep75mbjunhxc6x4j5mwjmomyxb573v42baldlqu56ruil2oiad.onion/advancedsearch.php?q=subject:%22nostalgia%22&output=json&rows=1
    status:
      code: 200
      message: OK
version: 1
