interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://noembed.com/embed?url=https://www.youtube.com/watch?v=dQw4w9WgXcQ
  response:
    body:
      string: '{"author_name":"Rick Astley","provider_name":"YouTube","html":"<iframe
        width=\"200\" height=\"113\" src=\"https://www.youtube.com/embed/dQw4w9WgXcQ?feature=oembed\"
        frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media;
        gyroscope; picture-in-picture; web-share\" referrerpolicy=\"strict-origin-when-cross-origin\"
        allowfullscreen title=\"Rick Astley - Never Gonna Give You Up (Official Video)
        (4K Remaster)\"></iframe>","url":"https://www.youtube.com/watch?v=dQw4w9WgXcQ","type":"video","width":200,"provider_url":"https://www.youtube.com/","version":"1.0","thumbnail_width":480,"thumbnail_url":"https://i.ytimg.com/vi/dQw4w9WgXcQ/hqdefault.jpg","title":"Rick
        Astley - Never Gonna Give You Up (Official Video) (4K Remaster)","height":113,"author_url":"https://www.youtube.com/@RickAstleyYT","thumbnail_height":360}'
    headers:
      compliance-region:
      - none
      content-type:
      - text/javascript; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
